.comments__quote {
    max-width: 382px;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
    padding-top: 20px;
    
    color: #FFFFFF;
}

@media screen and (min-width: 320px) {
    .comments__quote {
        margin-left: 16px;
        margin-right: 16px;
        line-height: 23px;
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .comments__quote {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .comments__quote {
        max-width: 296px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1280px){
    .comments__quote {
        max-width: 382px;
    }
}