.video__image {
    max-width: 583px;
    height: 323px;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: -1;

    border-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .video__image {
        max-width: 288px;
        height: 192px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .video__image {
        max-width: 343px;
        height: 200px;
    }
}

@media screen and (min-width: 768px) {
    .video__image {
        max-width: 352px;
        height: 200px;
        margin-bottom: 20px;
    }

    .video__image:last-of-type {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .video__image {
        max-width: 456px;
        height: 288px;
    }
}

@media screen and (min-width: 1280px) {
    .video__image {
        max-width: 583px;
        height: 323px;
    }
}